
                                <!-- Section - Intro -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="padding-bottom: 25px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="font-size:0pt; padding-bottom: 10px;">
                                                        <img class="g-img" src="file:///home/landry/T%C3%A9l%C3%A9chargements/logo_tramsparent.png" width="125" height="70" border="0" />
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:15px; line-height:40px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; padding-bottom: 1px;">
                                                        <strong>Thanks for your order!</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-16 lh-26 a-center pb-25" style="font-size:15px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; padding-bottom: 25px;">
                                                        <p>Nous avons bien recu votre commande</p>
                                                        <p>Detail de la commande</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="py-15" style="padding-right: 20px; border: 1px solid #000001; border-left: 0; border-right: 0; padding-top: 15px; padding-bottom: 15px;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="title-20 mw-auto" width="200" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important;">
                                                                    <strong>Designation </strong>
                                                                </td>
                                                                <td class="img" width="20" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                                                                
                                                                <td class="img" width="20" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                                                                <td class="title-20 a-right mw-auto" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:right;">
                                                                    <strong>Price</strong>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="py-25" style="padding-right: 20px; border-bottom: 1px solid #ebebeb; padding-top: 25px; padding-bottom: 25px;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th class="column-top" valign="top" width="200" style="padding-right: 20px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="title-20 pb-10" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; padding-bottom: 10px;">
                                                                                <strong>Anonymisation</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-16 lh-24" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; line-height: 24px;">
                                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                
                                                                <th class="column-top mpb-15" valign="top" width="20" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                                                <th class="column-top" valign="top" width="40" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    
                                                                </th>
                                                                <th class="column-top mpb-15" valign="top" width="20" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                                                <th class="column-top" valign="top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="title-20 a-right mt-left" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:right;">
                                                                                <strong>$209.99</strong>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th class="column-top" valign="top" width="200" style="padding-right: 20px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="title-20 pb-10" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; padding-bottom: 10px;">
                                                                                <strong>Pseudonymisation</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-16 lh-24" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; line-height: 24px;">
                                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                
                                                                <th class="column-top mpb-15" valign="top" width="20" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                                                <th class="column-top" valign="top" width="40" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    
                                                                </th>
                                                                <th class="column-top mpb-15" valign="top" width="20" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"></th>
                                                                <th class="column-top" valign="top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="title-20 a-right mt-left" style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:right;">
                                                                                <strong>$7777.11</strong>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="pb-30" style="padding-right: 20px; padding-bottom: 30px;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="img" height="1" bgcolor="#ebebeb" style="font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <!-- Button -->
                                                        <table border="0" cellspacing="0" cellpadding="0" style="min-width: 200px;">
                                                            <tr>
                                                                
                                                                <td class="gradient" bgcolor="#4F0A84" style="font-size:15px; line-height:20px; mso-padding-alt:15px 35px; font-family:'PT Sans', Arial, sans-serif; font-weight:bold; 
                                                                        text-transform:uppercase; border-radius: 12px 12px 0 0; min-width:auto !important; color:#ffffff;">
                                                                    <a href="#" target="_blank" class="link c-white" style="display: block; padding: 15px 35px; text-decoration:none; color:#ffffff;">
                                                                        <span class="link c-white" style="text-decoration:none; color:#ffffff;">Detail de la Facture</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- END Button -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END Section - Intro -->

                                <!-- Section - Separator Line -->

                                <!-- END Section - Separator Line -->

                                <!-- Section - Order Details -->

                                <!-- END Section - Order Details -->
                                </td>
                            </tr>
                        </table>
                            <!-- END Main -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Footer -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="p-50 mpx-15" bgcolor="#949196" style="border-radius: 0 0 10px 10px; padding: 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="text-14 lh-24 a-center c-white l-white pb-20" style="font-size:14px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 24px; text-align:center; color:#ffffff; padding-bottom: 20px;">
                        <a href="mailto:info@website.com" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">info@klivar.com</span></a> - <a href="{{ site_url }}" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">www.klivar.com</span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>											
<!-- END Footer -->