amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.2
APScheduler==3.10.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.2
billiard==3.6.4.0
bleach==6.0.0
blinker==1.4
Brlapi==0.8.3
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
comm==0.1.2
command-not-found==0.3
configobj==5.0.6
configparser==5.2.0
coreapi==2.3.3
coreschema==0.0.4
croniter==1.3.7
cryptography==37.0.4
cupshelpers==1.0
cx-Oracle==8.3.0
Cython==0.29.32
dbus-python==1.2.18
debugpy==1.6.6
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==4.0.6
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
django-timezone-field==5.0
djangorestframework==3.13.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
drf-writable-nested==0.7.0
drf-yasg==1.20.0
duplicity==0.8.21
et-xmlfile==1.1.0
etelemetry==0.3.0
executing==1.2.0
Faker==13.15.0
fasteners==0.14.1
fastjsonschema==2.16.2
filelock==3.8.0
fitz==0.0.1.dev2
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.20.4
icalendar==5.0.3
idna==3.3
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.20.2
ipython==8.9.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.1
itypes==1.2.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keyring==23.5.0
kombu==5.2.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
looseversion==1.0.1
louis==3.20.0
lxml==4.9.1
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
monotonic==1.6
more-itertools==8.10.0
mysql-connector==2.2.9
mysql-connector-python==8.0.29
Naked==0.1.32
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==2.8.5
nibabel==4.0.1
nipype==1.8.3
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.0
oauthlib==3.2.0
olefile==0.46
openapi-codec==1.3.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
phonenumbers==8.12.56
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.6.2
pluggy==1.0.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.32
protobuf==4.21.2
prov==2.0.0
psutil==5.9.4
psycopg2==2.9.2
psycopg2-binary==2.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-dateinfer==0.4.5
pyarmor==7.7.0
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.16.0
pycups==2.0.1
pydot==1.4.2
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
pymssql==2.2.5
PyMySQL==1.0.2
PyNaCl==1.5.0
pyodbc==4.0.34
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==7.1.3
python-apt==2.4.0+ubuntu1
python-crontab==2.6.0
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==0.19.2
python-json-logger==2.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
pyxnat==1.4
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
rdflib==6.2.0
redis==4.3.4
reportlab==3.6.8
requests==2.28.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
schedule==1.1.0
scipy==1.9.0
SecretStorage==3.3.1
Send2Trash==1.8.0
shellescape==3.8.1
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlparse==0.4.2
stack-data==0.6.2
swagger-spec-validator==2.7.4
systemd-python==234
terminado==0.17.1
text-unidecode==1.3
texttable==1.6.4
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
traits==6.3.2
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.9
usb-creator==0.3.7
vine==5.0.0
virtualenv==20.21.0
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
widgetsnbextension==4.0.5
wrapt==1.14.1
xdg==5
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.0.3
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
