:root {
    --neutralsgrey-0: rgba(157, 157, 157, 1);
    --collection-1-color: rgba(235, 211, 248, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-collection-1-mode="lighter">
        <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-collection-1-mode="lighter"] {
    --collection-1-color: rgba(235, 211, 248, 1);
}

[data-collection-1-mode="light"] {
    --collection-1-color: rgba(173, 73, 225, 1);
}

[data-collection-1-mode="primary"] {
    --collection-1-color: rgba(79, 10, 132, 1);
}

[data-collection-1-mode="secondary"] {
    --collection-1-color: rgba(122, 28, 172, 1);
}
