{% extends "mail/base.html" %}

{% block content %}                 
    <!-- Container -->
                            <!-- Main -->
                            
                                        <!-- Section - Intro -->
                                        
                                                    <tr>
                                                        <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 2px;">
                                                            <strong>Tache : </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="lh-26 a-center pb-25 klivar_police" style="font-family:Poppins;   font-size: 14px; color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 5px;">
                                                            {{ task }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 2px;">
                                                            <strong> Description : </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="lh-26 a-center pb-25 klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 5px;">
                                                            {{ description }}
                                                        </td>
                                                    </tr>
                                                    {% if begin %}
                                                        <tr>
                                                            <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 2px;">
                                                                <strong> Echeance: </strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lh-26 a-center pb-25 klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 5px;">
                                                                - Debut: {{ begin }} <br />
                                                                - Fin: {{ end }}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if doc_link %}
                                                        <tr>
                                                            <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 2px;">
                                                                <strong>Document(s) complementaire(s) : </strong>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td class="lh-26 a-center pb-25 klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 5px;">
                                                            <a href="{{ doc_link}}">{{ doc_name }}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 2px;">
                                                            <strong>Projet : </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="lh-26 a-center pb-25 klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 5px;">
                                                            <input type="radio" name="check" checked> {{ project }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <!-- Button -->
                                                        <table class="klivar_police" border="0" cellspacing="0" cellpadding="0" style="min-width: 200px; margin: 3px 5px; width:650px; min-width:auto !important;">
                                                            <tr>
                                                                <!--td class="gradient pt-10" style="border-radius: 10px; padding-top: 10px;" bgcolor="#f3189e"-->
                                                                <td class="klivar_police" style="box-shadow: 5px 5px 5px 5px; border:1px solid; font-size:14px; line-height:10px;">
                                                                        <p style="display: block; padding: 0px 5px; margin:8px;">
                                                                            {{ company }} a ajouter la tache {{ task }} le {{ task_created_at }}
                                                                        </p>
                                                                        <p style="display: block; padding: 0px 5px; margin:8px;">
                                                                            {{ company }} vous a attribuer la tache {{ task }} le {{ task_update_at }}
                                                                        </p>
                                                                    
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- END Button -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <!-- Button -->
                                                            <table class="klivar_police" cellspacing="20">
                                                                <tr>
                                                                    <!--td class="gradient pt-10" style="border-radius: 10px; padding-top: 10px;" bgcolor="#f3189e"-->
                                                                    <td class="klivar_police" style="background:#4F0A84; line-height:15px; mso-padding-alt:15px 35px; border-radius: 6px 6px 6px 6px; min-width:auto !important; color:#ffffff;">
                                                                        <a href="{{ btn_repondre_klivar.btn_link }}" target="_blank" class="link c-white" style="display: block; padding: 10px 10px; text-decoration:none; color:#ffffff;">
                                                                            <span class="link c-white" style="text-decoration:none; color:#ffffff;">{{ btn_repondre_klivar.btn_title }}</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="buton_white klivar_police" bgcolor="#ffffff" style="line-height:15px; border-radius: 6px 6px 6px 6px; min-width:auto !important; border:1px solid;">
                                                                        <a href="{{ btn_Marquer_comme_terminee.btn_link }}" target="_blank" class="link c-white" style="display: block; padding: 10px 10px; text-decoration:none; color:#050505;">
                                                                            <span class="link c-white" style="text-decoration:none; color:#050505;">{{ btn_Marquer_comme_terminee.btn_title }}</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- END Button -->
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END Section - Intro -->

                                    <!-- Section - Order Details -->
                                    <table class="klivar_police" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="pb-20 klivar_police" style="padding-bottom: 2px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="pb-10" style="padding-bottom: 2px;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <th class="column-top" valign="top" width="230" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            {% if collaborateurs %}
                                                                                {% with nbre_col=collaborateurs|length %}    
                                                                                    <tr>
                                                                                        <td style="line-height:24px; color:#282828; text-align:left; min-width:auto !important; padding-bottom: 1px;">
                                                                                            
                                                                                            {% if nbre_col > 1 %}
                                                                                                <strong>&nbsp;  &nbsp; collaborateurs {{ nbre_col }}</strong>
                                                                                            {% else %}
                                                                                                <strong>&nbsp;  &nbsp; collaborateurs {{ nbre_col }}</strong>
                                                                                            {% endif %} 
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        {% for collaborator in collaborateurs %}
                                                                                            <td class="text-15" style="padding:5px; line-height:25px; color:#000; text-align:left;">
                                                                                                <!-- strong style=" border-radius:50%; display: inline-block; width:25px; height:25px; padding:3px; margin:3px; text-align:center; color: #fff; background-color: #840A7C;">{{ collaborator |make_list|first }} </!-- -->
                                                                                                <img class="g-img" style=" border-radius:50%; display: inline-block; border-color:4F0A84; width:40px; height:40px; padding:3px; margin:3px; text-align:center; background-color: transparent;" src="{{ collaborator.avatar }}" />
                                                                                            </td>
                                                                                            <td class="klivar_police" style="color:#000; min-width:auto !important; line-height: 26px; padding-bottom: 40px;text-align:left;">
                                                                                                <strong>{{ collaborator.name|truncatechars:10 }}| {{ collaborator.email|truncatechars:10 }}</strong>
                                                                                            </td>
                                                                                        {% endfor %}
                                                                                    </tr>
                                                                                    
                                                                                {% endwith %}
                                                                            {% else %}
                                                                                <tr>
                                                                                    <td class="text-16" style="font-size:16px; line-height:20px; color:#000; text-align:left; min-width:auto !important;">
                                                                                        <strong>Aucun</strong>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %} 
                                                                        </table>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END Section - Order Details -->
                                </td>
                            </tr>
                        </table>
                        <!-- END Main -->
                        <!-- Button -->
                        <table class="klivar_police" border="0" cellspacing="0" cellpadding="0" style="min-width: 200px;">
                            <tr>
                                <!--td class="gradient pt-10" style="border-radius: 10px; padding-top: 10px;" bgcolor="#f3189e"-->
                                <td style="background-color: #840A7C; opacity: 0.5; font-size:17px; padding: 1px 3px; line-height:20px; min-width:auto !important; color:#ffffff;">
                                        <p style="display: block; text-decoration:none; color:#ffffff;">
                                        <span class="link c-white" style="text-decoration:none; color:#ffffff;">Donnez votre avis !</span><br>
                                        Repondez directement a cet e-mail pour ajouter un commentaire ou mettez vos collegues en copie pour les ajouter en temps que
                                            collaborateurs. Pour ne plus recevoir ce type de notifications, il vous suffit de quitter cette tache.</p>
                                    
                                </td>
                            </tr>
                        </table>
                        <!-- END Button -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- END Container -->              
{% endblock %}