{% extends "mail/base.html" %}

{% block content %}
<div class="klivar_police" style="border-style: groove; border: 1px solid  #4F0A84; padding: 10px; box-shadow: 5px 3px 7px #844F0A;
    border-top-right-radius: 20px; border-top-left-radius: 20px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" bgcolor="white"
        style="border-radius: 5px;">
        <tbody style="border-radius: 100px;">
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="col-650" width="650">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color: #4F0A84; 
                                            height: 80px;border-top-left-radius: 20px;
                                                border-top-right-radius: 20px;">

                                    <a href="#" style="text-decoration: none;">
                                        {% load static %}
                                        <!-- img src="{% static 'img/logo.png' %}" alt="Klivar" style="height: 90%; width: 10%;"-->
                                        <img src="https://klivar.com/shield.png" alt="Klivar" style="height: 90%; width: 10%;">
                                        <h2 style="color:white; 
                                                    font-weight:bold; padding-top:30px">
                                            {{ title }} sur <strong>{{ site_name }}</strong>
                                        </h2>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="display: inline-block;">
                <p style="height: 40px;"></p>
                <td style="border: none;  
                            padding-right: 20px;padding-left:20px;">

                    <p style="color:#4F0A84;">
                        <span><strong>{{ site_name }}</strong> a ajouté cette tâche à <strong>{{ projet }} </strong> à {{ created_at }}</span>
                    </p>
                    <p >
                        <span><strong>{{ site_name }}</strong> vous l'a attribué à {{ created_at }}</span>
                    </p>
                    <p style="color:#4F0A84;">
                        L'attribution de la tâche a été supprimée à {{ created_at }} 
                        <span>
                            <button href="{{ site_url }}" style="background-color: #3F840A;
                                border: none;
                                border-radius:20px; 
                                height: 22px;
                                color: white;">
                            Nouveau
                        </button>
                        </span>
                    </p>
                    <p style="color:#4F0A84;">
                        <span><strong>{{ site_name }}</strong> a ajouté cette tâche à <strong>{{ projet }} </strong> à {{ created_at }}</span>
                    </p>   
                </td>
            </tr>

            <tr style="display: inline-block;">
                <td style="padding-bottom: 20px; 
                        border: none;
                        width: 650px;" align="right">
                    <a href="{{ site_url }}" title="Visitez notre site internet" style="padding:10px;" >
                        <button href="{{ site_url }}" style="background-color: #FFE459;
                            border: none;
                            border-radius:4px; 
                            height: 35px;
                            
                            font-size: 17;">
                            Répondre sur {{ site_name }}
                        </button>
                    </a>
                </td>
                <td style="padding-bottom: 20px; 
                        border: none;
                        width: 650px; " align="left">
                    <a href="{{ site_url }}" title="Visitez notre site internet" style="padding:10px;" >
                        <button href="{{ site_url }}" style="background-color: #840A7C;
                            border: none;
                            border-radius:4px; 
                            height: 35px;
                            
                            color:  #fff;
                            font-size: 17;">
                            Marquer comme terminé
                        </button>
                    </a>
                </td>
            </tr>
            {% if collaborators %}
                <tr style="display: inline-block;">
                    
                    <td style="border:none;" align="left" colspan="2">
                        <ul class="list-group">
                            <li style="background-color:#4F0A84; color:white" aria-current="true">
                                Les collaborateurs 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ collaborators|length }}
                                    <span class="visually-hidden">unread messages</span>
                                </span> 
                            </li>
                            {% for collaborator in collaborators %}
                                <li>{{ collaborator }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr style="display: inline-block;">
                        
                    <td style="border:none;" align="left" colspan="2">
                        <ul class="list-group">
                            <li style="background-color:#4F0A84; color:white" aria-current="true">
                                Pas de collaborateur
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endif %}    
        </tbody>
    </table>
{% endblock %}