<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="changer-votre-mot-de">
            <div class="frame-wrapper">
                <div class="frame">
                    <div class="email-template">
                        <div class="div">
                            <div class="frame-2">
                                <div class="div-wrapper"><p class="text-wrapper">Changer votre mot de passe</p></div>
                                <img class="cropped-logo-klivar" src="img/cropped-logo-klivar-1.png" />
                                <div class="frame-3">
                                    <div class="frame-4"><div class="text-wrapper-2">Bonjour Ghislain,</div></div>
                                    <div class="la-validit-de-votre-wrapper">
                                        <p class="la-validit-de-votre">
                                            <span class="span">La </span>
                                            <span class="text-wrapper-3">Validité</span>
                                            <span class="span"> de votre</span>
                                            <span class="text-wrapper-3"> mot de passe</span>
                                            <span class="span"> arrive à échéance dans </span>
                                            <span class="text-wrapper-4">30 jours</span>
                                            <span class="span">.Nous vous invitons à le changer maintenant!</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cliquez-ici-wrapper"><p class="cliquez-ici">Je change mon mot de passe</p></div>
                            <p class="p">Merci de votre intérêt pour nos services.</p>
                        </div>
                        <p class="votre-quipe-xxxxxx">
                            <span class="text-wrapper-5">Votre équipe </span> <span class="text-wrapper-6">xxxxxx</span>
                        </p>
                    </div>
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="email-template-2">
                                <div class="text-wrapper-7">www.klivar.fr</div>
                                <div class="element-de-haro-street">📩  avotreecoute@klivar.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
