body{
    background-color: #fcfcfc;
}

.changer-votre-mot-de {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.changer-votre-mot-de .frame-wrapper {
    background-color: #fcfcfc;
    width: 1440px;
    height: 689px;
}

.changer-votre-mot-de .frame {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 45px;
}

.changer-votre-mot-de .email-template {
    position: relative;
    width: 787px;
    height: 499px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.changer-votre-mot-de .div {
    display: flex;
    flex-direction: column;
    width: 742px;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 10px;
    left: 45px;
}

.changer-votre-mot-de .frame-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 281px;
}

.changer-votre-mot-de .div-wrapper {
    position: absolute;
    width: 787px;
    height: 25px;
    top: 110px;
    left: -9px;
}

.changer-votre-mot-de .text-wrapper {
    position: absolute;
    top: -7px;
    left: 233px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
}

.changer-votre-mot-de .cropped-logo-klivar {
    position: absolute;
    width: 160px;
    height: 63px;
    top: 29px;
    left: 296px;
    object-fit: cover;
}

.changer-votre-mot-de .frame-3 {
    display: flex;
    flex-direction: column;
    width: 707px;
    height: 97px;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 184px;
    left: 0;
}

.changer-votre-mot-de .frame-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 31px;
}

.changer-votre-mot-de .text-wrapper-2 {
    position: absolute;
    top: -1px;
    left: -3px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.changer-votre-mot-de .la-validit-de-votre-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 60px;
}

.changer-votre-mot-de .la-validit-de-votre {
    position: absolute;
    width: 682px;
    top: -1px;
    left: -2px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.changer-votre-mot-de .span {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.changer-votre-mot-de .text-wrapper-3 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
}

.changer-votre-mot-de .text-wrapper-4 {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
}

.changer-votre-mot-de .cliquez-ici-wrapper {
    display: flex;
    width: 210px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 2;
    padding: 6px 12px;
    position: relative;
    background-color: #4c0c84;
    border-radius: 5.89px;
    margin-top: 20px;
}

.changer-votre-mot-de .cliquez-ici {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    white-space: nowrap;
}

.changer-votre-mot-de .p {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
}

.changer-votre-mot-de .votre-quipe-xxxxxx {
    position: absolute;
    top: 420px;
    left: 45px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
}

.changer-votre-mot-de .text-wrapper-5 {
    color: #000000;
}

.changer-votre-mot-de .text-wrapper-6 {
    color: #7a1cac;
}

.changer-votre-mot-de .content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.changer-votre-mot-de .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.changer-votre-mot-de .email-template-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 48px;
    position: relative;
    flex: 0 0 auto;
}

.changer-votre-mot-de .text-wrapper-7 {
    position: relative;
    width: 544px;
    margin-top: -1.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--neutralsgrey-0);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.20px;
    line-height: 24px;
}

.changer-votre-mot-de .element-de-haro-street {
    position: relative;
    width: 544px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--neutralsgrey-0);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.20px;
    line-height: 22.4px;
}
